<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background: linear-gradient(90deg, rgb(29, 29, 31), rgb(67, 67, 79), rgb(90, 88, 110));
	font-family: Arial, Helvetica, sans-serif;
}
header{
	display: flex;
	justify-content: space-around;
	background-color: rgb(0, 0, 0);
	height: 10vh;
	color: white;
	font-family: 'Times New Roman', Times, serif;
	font-size: 25px;
	padding: 10px;
	border-radius:0px 0px 5px 5px ;
	padding-top: 10px;
}
a{
	text-decoration: none;
	color: white;
	transition: 0.5s;
}
a:hover{
	opacity: 0.6;
	transition: 0.5s;
}
.navbar{
	display: flex;
	gap: 20px;
}
.container{
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	font-size: 20px;
	top:200px;
}
.extra{
	position: relative;
	top: 75px;
	right: 690px;
}
button{
	background-color: rgb(32, 151, 32);
	border-radius: 20px;
	color: rgb(255, 255, 255);
	padding: 5px;
	width: 250px;
	height: 70px;
	font-weight: bold;
	border: none;
	box-shadow: 1px 1px 1px 1px rgb(90, 88, 110);
	font-size: 17px;
	position: relative;
	top: 160px;
	right: 970px;
	transition: 0.5s;
}
button:hover{
	background-color: rgba(32, 151, 32, 0.621);
	transition: 0.5s;
}
.image{
	display: flex;
}
img{
	width: 350px;
	height: 350px;
	position: relative;
	right: -800px;
	top: 70px;
}
h1,h2{
	cursor: pointer;
}
span{
	color: rgb(79, 133, 163);
}
	</style>
</head>
<body>
	<header>
		<h2>Portfolio</h2>
		<div class="navbar">
			<a href="/portfolio">Main Page</a>
			<a href="/portfolio/about">About</a>
			<a href="https://github.com/tulio-gabriel">My Github</a>
			<a href="/portfolio/contact">Contact</a>
		</div>
	</header>
	<div class="container">
		<h1>HEY AM A <span>FULLSTACK DEVELOPER</span> <br> BASED IN BRASIL</h1>
		<br>
		<p class="extra">get the best website for you and your clients</p>
		<a href="/portfolio/links"><button>Take a look at my projects</button></a>
	</div>
	<div class="image">
		<img src="images/user.svg" alt="usuario">
	</div>
</body>
</html>