<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../public/index.css">
</head>
<body>
	<header>
		<h2>Portfolio</h2>
		<div class="navbar">
			<a href="/portfolio">Main Page</a>
			<a href="/portfolio/about">About</a>
			<a href="https://github.com/tulio-gabriel">My Github</a>
			<a href="/portfolio/contact">Contact</a>
		</div>
	</header>
	<div class="container">
		<h1>HEY AM A <span>FULLSTACK DEVELOPER</span> <br> BASED IN BRASIL</h1>
		<br>
		<p class="extra">get the best website for you and your clients</p>
		<a href="/portfolio/links"><button>Take a look at my projects</button></a>
	</div>
	<div class="image">
		<img src="images/user.svg" alt="usuario">
	</div>
</body>
</html>